<!-- filter.component.html -->
<div class="filter-container">
  <button type="button" class="filter-button" [class.active]="showRanges" (click)="toggleFilter1()">
    Rango de precio
  </button>

  <div *ngIf="showRanges" class="ranges-container">
    <button type="button" class="range-button">
      1.000 - 1.5M COP
    </button>
    <button type="button" class="range-button">
      1.5M - 3M COP
    </button>
    <button type="button" class="range-button">
      3M - 4.5M COP
    </button>
    <button type="button" class="range-button">
      4.5M - 6M COP
    </button>
    <button type="button" class="range-button">
      6M - 7.5M COP
    </button>
    <button type="button" class="range-button">
      7.5M - 9M COP
    </button>
    <button type="button" class="range-button">
      9M - 10.5M COP
    </button>
    <button type="button" class="range-button">
      10.5M - 12MCOP
    </button>
  </div>
</div>

<div class="filter-container">
  <button type="button" class="filter-button" [class.active]="showBrand" (click)="toggleFilter2()">
    Marca
  </button>
  <div *ngIf="showBrand" class="ranges-container">
    <button type="button" class="range-button">Samsung</button>
    <button type="button" class="range-button">Xiaomi</button>
    <button type="button" class="range-button">Apple</button>
    <button type="button" class="range-button">Huawei</button>
    <button type="button" class="range-button">Honor</button>
  </div>
</div>

<div class="filter-container">
  <button type="button" class="filter-button" [class.active]="showCategories" (click)="toggleFilter3()">
    Categorias
  </button>
  <div *ngIf="showCategories" class="ranges-container">
    <button type="button" class="range-button">Celulares</button>
    <button type="button" class="range-button">Laptops</button>
    <button type="button" class="range-button">Tv</button>
    <button type="button" class="range-button">Relojes</button>
    <button type="button" class="range-button">Impresora</button>
  </div>
</div>

<div class="filter-container">
  <button type="button" class="filter-button" [class.active]="showFreeShipping" (click)="toggleFilter4()">
    Envios Gratis
  </button>
  <div *ngIf="showFreeShipping" class="ranges-container">
    <button type="button" class="range-button">Si</button>
    <button type="button" class="range-button">No</button>
  </div>
</div>
