<div class="container-fluid" style="background-color: #93e1f5;">
  <div class="row align-items-center py-2">
    <!-- Logo de la aplicacion -->
     <div class="col-auto">
      <img src="images/LOGO.png" alt="Logo" style="height: 60px;">
     </div>

     <!-- Barra de busqueda -->
    <div class="col">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Busca los mejores precios...">
        <button class="btn btn-warning" type="button">
          <img src="images/BuscarIcono.png" alt="Buscar" style="height: 25px;">
        </button>
      </div>
    </div>

    <!-- Opciones Adicionales para el Usuario -->
     <div class="col-auto">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Ofertas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Mercado Libre</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Exito</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark" href="#">Alkosto</a>
        </li>
      </ul>
     </div>

  </div>
</div>
